<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="bookStoreDB" connectionString="Data Source=.\SQLEXPRESS;Database=bcBookStore;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="nbElemByPage" value="6"/>
  </appSettings>
</configuration>